# Compiled Executables (Windows)
*.out
*.o
*.obj

# Folder containing compiled binaries
output/
bin/

# VS Code internal settings (Optional, but keeps repo clean)
.vscode/
*.history

# Temporary files
*.tmp
*.log